# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity meta files (keep these!)
# *.meta  <-- do NOT ignore these

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db