# Unity generated
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.apk
*.aab

# Build output and backup
Dungeoneers_BackUpThisFolder_ButDontShipItWithYourGame/
Cybersickness_BurstDebugInformation_DoNotShip/
.utmp/
*.cpgz

# Visual Studio
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx

# OS
.DS_Store
Thumbs.db